.main-view{
  height: 100%;
  top: 0;
  position: absolute; 
  width: 100%;
  background: white
}

.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menuRight{
  position:absolute;
   display:flex; 
   flex-direction: column;
  justify-content: spaceBetween;
  right:10;
  top:20%;
  display:fixed;
  border:1px solid #999;
  border-top:15px solid #5a5a5a;
  width:50;
  height:320;
  z-index:39;
  padding-top:15;
  box-sizing:border-box
}
.wrapper{
  display:flex;
  height:100%;
  width:100%;
  background:#f0f0f0;
  color:#888;
}
.leftbox{
  flex:1;
  text-align: center;
  padding:15px;
}

.leftbox ul{
  list-style-type: none;
  padding:0;

}
.leftbox ul li{
  text-align: center;
  height:30px;
  line-height:30px;
  font-size:20px;
  cursor:pointer;
  margin-top:40px;
}
.leftbox ul li i{
  margin-right:5px;
}
.rightbox{
  flex:4;
  padding:15px;
}
.rightbox table{
  width:100%;
  text-align:center;
  border-collapse:collapse
}

.rightbox  th{
  color:#666 !important;
  font-size:18px;
  height:80px;
}
.rightbox  tr{
  cursor:pointer;
  
}
.onfocusfile{
  background:#f9f9f9;
  color:#000;
}
.rightbox  tr td{
    height:60px;
  line-height:60px;
  font-size:16px;
  border-bottom:1px solid #e0e1e9;
  padding:none;
}
.page{
  float:right;
  margin-top:20px;
  margin-right:10%;
}

.disShow{
  display:none;
}
.navbar{
  display:flex;
  height:60px;
  line-height:60px;
  justify-content: space-between;
  background: #2B2C30;
  border-bottom: 1px solid #666;
  padding-left:40px;
  padding-right:40px;
}
.navbar h2{
  color:#128fec;
    height:60px;
  line-height:60px;
  font-size:400;
}
.navbar span{
  padding-right:15px;
}
.wrappers{
  height:100%;
}
.contents{
  background-color: #333437;
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
 .loginBox{
  width:40%;
  height:40%;
  margin-top:-15rem;
  
}